@model srk_website.Models.ContactModel

@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>Contact</h1>
            <br />

            Address: @Model.Address
            <br />
            Zip: @Model.Zip
            <br />
            City: @Model.City
            <br />
            Country: @Model.Country
            <br />
            Phone: @Model.Phone
            <br />
            Email: @Model.Email
            <br />
            <a asp-action="Edit" asp-route-id="1">Edit</a>
            <br />
            <a asp-action="Index" asp-controller="Admin">Back To Admin Page</a>
        </div>
    </div>
</div>


