@model srk_website.Models.ProjectModel

@{
    ViewData["Title"] = "Project Details";
}

@section Styles{
    <!-- Style for lightgallery -->
    <link type="text/css" rel="stylesheet" href="~/lib/lightgallery/css/lightgallery.css" />
}

<h1>Details</h1>

<!-- Loader -->
<div id="loader">
    <div class="loading">
        <div></div>
    </div>
</div>

<!-- Content -->
<div class="togo-side-content">
    <!-- Lines -->
    <div class="content-lines-wrapper">
        <div class="content-lines-inner">
            <div class="content-lines"></div>
        </div>
    </div>
    <!-- Post -->
    <section class="post pt-80 pb-100">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item">
                                <div class="post-img">
                                    <div class="img"> <img src="@(Model.Images.FirstOrDefault(s => s.Id == Model.CoverImageId)).ImageUri" alt="Something went wrong."> </div>
                                </div>
                                <div class="cont">
                                    <h5>@Model.Title</h5>
                                    @Html.Raw(Model.ProjectDescription)
                                    <div class="row mt-30 mb-30">
                                        <div id="lightgallery">
                                            @foreach(var item in Model.Images)
                                            {
                                                <a href="@item.ImageUri">
                                                    <img src="@item.ImageUri" />
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center pos-re">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-8">
                    <p>&copy; 2022 Gabriel Torland. ALL RIGHT RESERVED.</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <!-- Lightgallery imports -->
    <script src="~/lib/lightgallery/lightgallery.min.js"></script>
    <script src="~/lib/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="~/lib/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>

    <!-- Finally you need to initiate the gallery -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery();
        });
    </script>
}