@model srk_website.Models.ImageSlideShowModel

@{
    ViewData["Title"] = "Slideshow Image Details";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>Details</h1>
            <h4>@Model.ProjectName</h4>
            <hr />
            <img src="@Model.Uri" alt="Image not found!"/>
            <br />
            <div>
                Project Name: @Model.ProjectName
                <br />
                City: @Model.City
                <br />
            </div>
            <div>
                 <form method="post" asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value=@Model.Id>
                    <div class="form-group">
                        <input type="submit" value="Delete" />
                    </div>
                </form>
                <a asp-action="Index">Back</a>
            </div>
        </div>
    </div>
</div>