@model srk_website.Models.ImageSlideShowModel

@{
    ViewData["Title"] = "Slideshow Image Details";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
            <h1>Details</h1>
            <h4>Slideshow Image</h4>
            <hr />
            <img href="@Model.Uri" alt="Image not found!"/>
            <div>                
                <dl class="row">
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                </dl>
            </div>
            <div>
                 <form method="post" asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value=@Model.Id>
                    <div class="form-group">
                        <input type="submit" value="Delete" />
                    </div>
                </form>
                <a asp-action="Index">Back to Slideshow Images</a>
            </div>
        </div>
    </div>
</div>