@model IEnumerable<srk_website.Models.ProjectImageModel>

@{
    ViewData["Title"] = "Project Images";
}

@section Styles {
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true" />
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5"> 
            <h6 class="text-muted">Project Images</h6>
            <a asp-action="Upload" asp-controller="ProjectImage">Create Project Image</a>
            @if (TempData["IsResponse"] != null)
                {
                    if ((bool)TempData["IsSuccess"])
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @TempData["Message"]
                        </div>
                    }
                }
                <ul class="list-group">            
                @foreach (var item  in Model){
                    <li>
                        @item.Name
                    </li>
                    
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="@item.ImageUri" class="img-fluid" alt="quixote">
                    </li>
                    <form method="post" asp-action="Delete" asp-controller="ProjectImage">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value=@item.Id>
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </form>
                }   
            </ul>
            <a asp-action="Index" asp-controller="Admin">Back To Admin Page</a>
        </div>
    </div>
</div>